<div class="list-page">
  <div class="list-header">
    <div>
      <h1 jhiTranslate="bibliApp.author.home.title">Auteurs</h1>
      <p>Gérez les auteurs de votre bibliothèque</p>
    </div>
    <div class="list-header-actions">
      <button class="btn-refresh" (click)="load()" [disabled]="isLoading()">
        <fa-icon icon="sync" [animation]="isLoading() ? 'spin' : undefined" />
        <span jhiTranslate="bibliApp.author.home.refreshListLabel">Actualiser</span>
      </button>
      <button class="btn-create" id="jh-create-entity" data-cy="entityCreateButton" [routerLink]="['/author/new']">
        <fa-icon icon="plus" />
        <span jhiTranslate="bibliApp.author.home.createLabel">Nouvel auteur</span>
      </button>
    </div>
  </div>

  <jhi-alert-error />
  <jhi-alert />
  <jhi-filter [filters]="filters" />

  @if (authors().length === 0) {
    <div class="list-empty">
      <fa-icon icon="user" />
      <p jhiTranslate="bibliApp.author.home.notFound">Aucun auteur trouvé</p>
    </div>
  } @else {
    <div class="list-card">
      <div class="table-responsive">
        <table class="list-table" aria-describedby="page-heading">
          <thead>
            <tr jhiSort [(sortState)]="sortState" (sortChange)="navigateToWithComponentValues($event)">
              <th scope="col" jhiSortBy="firstName">
                <div class="th-content">
                  <span jhiTranslate="bibliApp.author.firstName">Prénom</span>
                  <fa-icon icon="sort" />
                </div>
              </th>
              <th scope="col" jhiSortBy="lastName">
                <div class="th-content">
                  <span jhiTranslate="bibliApp.author.lastName">Nom</span>
                  <fa-icon icon="sort" />
                </div>
              </th>
              <th scope="col" jhiSortBy="birthDate">
                <div class="th-content">
                  <span jhiTranslate="bibliApp.author.birthDate">Date de naissance</span>
                  <fa-icon icon="sort" />
                </div>
              </th>
              <th scope="col" jhiSortBy="nationality">
                <div class="th-content">
                  <span jhiTranslate="bibliApp.author.nationality">Nationalité</span>
                  <fa-icon icon="sort" />
                </div>
              </th>
              <th scope="col" jhiSortBy="biography">
                <div class="th-content">
                  <span jhiTranslate="bibliApp.author.biography">Biographie</span>
                </div>
              </th>
              <th scope="col"></th>
            </tr>
          </thead>
          <tbody>
            @for (author of authors(); track trackId(author)) {
              <tr data-cy="entityTable">
                <td class="td-title">
                  <a [routerLink]="['/author', author.id, 'view']">{{ author.firstName }}</a>
                </td>
                <td class="td-title">{{ author.lastName }}</td>
                <td>{{ author.birthDate | formatMediumDate }}</td>
                <td>
                  @if (author.nationality) {
                    <span class="badge-lang">{{ author.nationality }}</span>
                  }
                </td>
                <td class="td-biography">{{ author.biography }}</td>
                <td class="td-actions">
                  <div class="action-group">
                    <a
                      [routerLink]="['/author', author.id, 'view']"
                      class="btn-action btn-action--view"
                      data-cy="entityDetailsButton"
                      title="Voir"
                    >
                      <fa-icon icon="eye" />
                    </a>
                    <a
                      [routerLink]="['/author', author.id, 'edit']"
                      class="btn-action btn-action--edit"
                      data-cy="entityEditButton"
                      title="Éditer"
                    >
                      <fa-icon icon="pencil-alt" />
                    </a>
                    <button
                      type="button"
                      (click)="delete(author)"
                      class="btn-action btn-action--delete"
                      data-cy="entityDeleteButton"
                      title="Supprimer"
                    >
                      <fa-icon icon="times" />
                    </button>
                  </div>
                </td>
              </tr>
            }
          </tbody>
        </table>
      </div>
    </div>
  }

  @if (authors().length > 0) {
    <div class="list-pagination">
      <jhi-item-count [params]="{ page: page(), totalItems: totalItems(), itemsPerPage: itemsPerPage() }" />
      <ngb-pagination
        [collectionSize]="totalItems()"
        [page]="page()"
        [pageSize]="itemsPerPage()"
        [maxSize]="5"
        [rotate]="true"
        [boundaryLinks]="true"
        (pageChange)="navigateToPage($event)"
      />
    </div>
  }
</div>
