<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-loan-heading" data-cy="LoanCreateUpdateHeading" jhiTranslate="bibliApp.loan.home.createOrEditLabel">
        Créer ou éditer un Loan
      </h2>

      <div>
        <jhi-alert-error />

        @if (editForm.controls.id.value !== null) {
          <div class="mb-3">
            <label class="form-label" for="field_id" jhiTranslate="global.field.id">ID</label>
            <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
          </div>
        }

        @let borrowDateRef = editForm.get('borrowDate')!;
        <div class="mb-3">
          <label class="form-label" for="field_borrowDate" jhiTranslate="bibliApp.loan.borrowDate">Borrow Date</label>
          <div class="input-group">
            <input
              id="field_borrowDate"
              data-cy="borrowDate"
              type="text"
              class="form-control"
              name="borrowDate"
              ngbDatepicker
              #borrowDateDp="ngbDatepicker"
              formControlName="borrowDate"
            />
            <button type="button" class="btn btn-secondary" (click)="borrowDateDp.toggle()"><fa-icon icon="calendar-alt" /></button>
          </div>
          @if (borrowDateRef.invalid && (borrowDateRef.dirty || borrowDateRef.touched)) {
            <div>
              @if (editForm.get('borrowDate')?.errors?.required) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.required">Ce champ est obligatoire.</small>
              }
            </div>
          }
        </div>

        @let dueDateRef = editForm.get('dueDate')!;
        <div class="mb-3">
          <label class="form-label" for="field_dueDate" jhiTranslate="bibliApp.loan.dueDate">Due Date</label>
          <div class="input-group">
            <input
              id="field_dueDate"
              data-cy="dueDate"
              type="text"
              class="form-control"
              name="dueDate"
              ngbDatepicker
              #dueDateDp="ngbDatepicker"
              formControlName="dueDate"
            />
            <button type="button" class="btn btn-secondary" (click)="dueDateDp.toggle()"><fa-icon icon="calendar-alt" /></button>
          </div>
          @if (dueDateRef.invalid && (dueDateRef.dirty || dueDateRef.touched)) {
            <div>
              @if (editForm.get('dueDate')?.errors?.required) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.required">Ce champ est obligatoire.</small>
              }
            </div>
          }
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_returnDate" jhiTranslate="bibliApp.loan.returnDate">Return Date</label>
          <div class="input-group">
            <input
              id="field_returnDate"
              data-cy="returnDate"
              type="text"
              class="form-control"
              name="returnDate"
              ngbDatepicker
              #returnDateDp="ngbDatepicker"
              formControlName="returnDate"
            />
            <button type="button" class="btn btn-secondary" (click)="returnDateDp.toggle()"><fa-icon icon="calendar-alt" /></button>
          </div>
        </div>

        @let statusRef = editForm.get('status')!;
        <div class="mb-3">
          <label class="form-label" for="field_status" jhiTranslate="bibliApp.loan.status">Status</label>
          <select class="form-control" name="status" formControlName="status" id="field_status" data-cy="status">
            <option [ngValue]="null">{{ 'bibliApp.LoanStatus.null' | translate }}</option>
            @for (loanStatus of loanStatusValues; track $index) {
              <option [value]="loanStatus">{{ 'bibliApp.LoanStatus.' + loanStatus | translate }}</option>
            }
          </select>
          @if (statusRef.invalid && (statusRef.dirty || statusRef.touched)) {
            <div>
              @if (editForm.get('status')?.errors?.required) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.required">Ce champ est obligatoire.</small>
              }
            </div>
          }
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_library" jhiTranslate="bibliApp.loan.library">Library</label>
          <select
            class="form-control"
            id="field_library"
            data-cy="library"
            name="library"
            formControlName="library"
            [compareWith]="compareLibrary"
          >
            <option [ngValue]="null"></option>
            @for (libraryOption of librariesSharedCollection(); track $index) {
              <option [ngValue]="libraryOption">{{ libraryOption.name }}</option>
            }
          </select>
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_book" jhiTranslate="bibliApp.loan.book">Book</label>
          <select class="form-control" id="field_book" data-cy="book" name="book" formControlName="book" [compareWith]="compareBook">
            <option [ngValue]="null"></option>
            @for (bookOption of booksSharedCollection(); track $index) {
              <option [ngValue]="bookOption">{{ bookOption.title }}</option>
            }
          </select>
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_member" jhiTranslate="bibliApp.loan.member">Member</label>
          <select
            class="form-control"
            id="field_member"
            data-cy="member"
            name="member"
            formControlName="member"
            [compareWith]="compareMember"
          >
            <option [ngValue]="null"></option>
            @for (memberOption of membersSharedCollection(); track $index) {
              <option [ngValue]="memberOption">{{ memberOption.email }}</option>
            }
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban" />&nbsp;<span jhiTranslate="entity.action.cancel">Annuler</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving()"
          class="btn btn-primary"
        >
          <fa-icon icon="save" />&nbsp;<span jhiTranslate="entity.action.save">Sauvegarder</span>
        </button>
      </div>
    </form>
  </div>
</div>
